body {
    background-color: #80ced6;
}

h1 {
    text-align: center;
    color: darkslategrey;
    font-family: Verdana;
}


a {
    text-decoration: none;
}

.previous {
    position: fixed;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #f1f1f1;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 200ms ease;
}

.previous:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.previous:active {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.round {
    border-radius: 50%;
}

.image-counter {
    width: 75vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.image-counter img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.buttons {
    margin-top: 2rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.round-button-outer {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.round-button {
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
}

.round-button-outer:hover .round-button {
    width: 10rem;
    height: 10rem;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}


