body {
    background: radial-gradient(circle, #b3cca2 0.75em, rgba(255, 255, 255, 0) 0.75em, rgba(255, 255, 255, 0) 1.5em, rgba(204, 195, 148, 0.7) 1.5em, rgba(204, 195, 148, 0.7) 1.8em, rgba(255, 255, 255, 0) 1.8em) 0 0, radial-gradient(circle, #ccc394 0.75em, rgba(255, 255, 255, 0) 0.75em, rgba(255, 255, 255, 0) 1.5em, rgba(179, 204, 162, 0.7) 1.5em, rgba(179, 204, 162, 0.7) 1.8em, rgba(255, 255, 255, 0) 1.8em) 3em 3em, radial-gradient(circle, rgba(179, 204, 162, 0.7) 0.375em, rgba(255, 255, 255, 0) 0.375em) 3em 0, radial-gradient(circle, rgba(204, 195, 148, 0.7) 0.3em, rgba(255, 255, 255, 0) 0.3em) 0 3em;
    background-size: 6em 6em;
    background-color: #F2DBA5;
    background-repeat: repeat;
    font: 16px/2 'Trebuchet MS', Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: darkslategrey;
    font-family: "Big Caslon";
}
h3{
    font-family: "Big Caslon";
}


a {
    text-decoration: none;
}

.previous {
    position: fixed;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: #f1f1f1;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 2.0);
    transition: box-shadow 200ms ease;
}

.previous:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.previous:active {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.round {
    border-radius: 50%;
}

.image-counter {
    width: 75vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.image-counter img {
    width: 70%;
    height: 50%;
    object-fit: cover;
}

.buttons {
    margin-top: 2rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.round-button-outer {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.round-button {
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
}

.round-button-outer:hover .round-button {
    width: 10rem;
    height: 10rem;
}

.green {
    background-color: chartreuse;
}

.red {
    background-color: salmon;
}

.submit {
    background-color: dodgerblue;
}




