body {
    background-color: #80ced6;
}

h1{
    text-align: center;
    color: darkslategrey;
    font-family:Verdana;
}


a {
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
    padding: 16px 32px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.round {

    border-radius: 50%;
}

div.image-counter{
    display: block;
    padding-top: 5em;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
}


input{
    display: block;
    position:relative;
    margin-right: auto;
    margin-left: auto;
}

.round-button {
    position:inherit;
    display: block;
    width:15%;
    float: left;
    margin-left: 300px;
    margin-bottom: 100px;
}
.round-button-circle {

    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow:hidden;

    background: springgreen;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
    background:chartreuse;
}
.round-button a {
    display:block;
    position:inherit;
    float: left;
    margin-left: inherit;
    margin-bottom: inherit;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:darkslategrey;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.round-button-reduce {
    width:15%;
    float: right;
    margin-right: 300px;
    margin-bottom: 100px;


}
.round-button-reduce-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow:hidden;

    background: salmon;
    box-shadow: 0 0 3px gray;
}
.round-button-reduce-circle:hover {
    background:red;
}
.round-button-reduce a {
    display:block;
    
    float: right;
    margin-right: inherit;
    margin-bottom: inherit;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

