body {
    background-color: cadetblue;
    height: 100%;

}

h1{
    padding: 10px;
    text-align: center;
    color: darkslategrey;
    font-family:"Big Caslon";
}
table{
    margin-top:auto;
    margin-left: auto;
    margin-right:auto;
    text-align:left;
    border-collapse: collapse;
    width: 80%;
    height: 80%;
    font-family: "Big Caslon";

}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}

th {
    background-color: #000000;
    color: #FFFFFF;
}

@media (max-width: 600px){
    table {
        width: 600px;
        height:auto;
    }
}

